# Python
__pycache__/
*.pyc

# Models (large files)
models/*.pkl

# Data (large datasets)
data/raw/*.csv

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env